*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: #333;
}

.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 3px solid #f2f2f2;
}

.navbar h1{
    color: #bb0000;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.9px;
}
.navbar .links{
    margin-left: auto;
}
.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    font-weight: bold;
}
.navbar a:hover{
    color: #ffffff;
    background-color: #bb0000;
    border-radius: 8px;
}
.content{
     max-width: 600px;
    margin: 40px auto;
    padding: 20px; 
}

.blog-preveiw{
    padding:10px 16px ;
    margin: 20px 0px;
    border-bottom: 1px solid #fafafa;
}
.blog-preveiw:hover{
    border-left: 2px solid #9d000047;
    /* border-bottom: 2px solid #9d000047; */
    /* border-bottom-left-radius: 20px; */
}
.blog-preveiw h2{
    font-size: 20px;
    color: #bb0000;
    margin-bottom: 8px;
}
.blog-preveiw a{
    text-decoration: none;
}

.blog-details h2{
    font-size: 23px;
    color: #bb0000;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration:overline;
}
.blog-details div{
    margin: 20px 0px;
    font-size:20px
}
.blog-details button{
    background: #bb0000;
    color: #fff;
    border: 0;
    padding:8px;
    border-radius: 8px;
    cursor: pointer ;
    font-weight: bold;
}

.create{
    max-width:400px;
    margin: 0 auto;
    text-align: center;
}
.create label{
    text-align: left;
    display: block;
    font-family: monospace;
    font-size: 20px;
}
.create h2{
    font-size: 40px;
    color:#bb0000;
    margin-bottom: 30px;
    letter-spacing: 1.9px;
}
.create input,
.create textarea,
.create select{
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    border-left: 2px solid #9d000047;
    border-bottom: 2px solid #9d000047;
}
.create button{
    background: #bb0000;
    color:#fff;
    border: 0;
    padding: 10px;
    border-radius:8px ;
    cursor:pointer;
    font-size: 15px;
    margin-top: 10px;
}
.not-found h2{
    font-size: 40px;
    margin-bottom: 15px;
}
.not-found{
    font-size: 30px;
    text-align: center;
}
.not-found p{
    margin-bottom: 40px;
}
.not-found a{
    text-decoration:underline #bb0000;
    font-family: monospace;
}
.not-found a:hover{
    color: #bb0000;
}
#author{
    margin-bottom: 20px;
}